VITE_APP_NAME=EventZen
VITE_APP_URL=http://localhost:3000

VITE_AUTH_API_URL=http://localhost:8081/api/v1
VITE_EVENT_API_URL=http://localhost:8082/api/v1
VITE_TICKET_API_URL=http://localhost:8083/api/v1
VITE_PAYMENT_API_URL=http://localhost:8084/api/v1
VITE_VENUE_API_URL=http://localhost:8085/api/v1

# SockJS endpoint used by ticket-service WebSocket broker
VITE_TICKET_WS_URL=http://localhost:8083/ws
